body {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

:host {
  display: flex;
  margin: 0;
  flex-direction: column;
  overflow: hidden;

  main {
    display: flex;
    border-top: #000 5px solid;
    height: 90vh;

    .left-side {
      display: inline-block;
      border-right: #000 5px solid;
      width: 15%;
    }

    .right-side {
      display: flex;
      position: relative;
      flex-direction: column;
      width: 100%;
      flex: 1;
    }
  }
}
